<div class="top-row">
    <div class="brand">
        <span class="brand-mark">TN</span>
        <div class="brand-text">
            <a class="brand-title" href="">TechNews</a>
            <span class="brand-subtitle">Notas curtas sobre dev e produto</span>
        </div>
    </div>
</div>

